



<form #form="ngForm" (submit)="onSubmit(form)" [class.submitted]="service.formSubmitted" novalidate autocomplete="off">
  <input type="hidden" name="paymentDetailId" [value]="service.formData.paymentDetailId">

  <div class="mb-3">
  <a href="http://www.jw.org" target="_blank" onClick="return confirm('Opening a new page, is that okay?')">
    <img src="/assets/doufu.jpeg" alt="image" height="25%" width="25%"/>
  </a>
  </div>




  <div class="mb-3">
    <label>Card Owner Name</label>
    <input class="form-control form-control-lg" placeholder="Name on Card" #cardOwnerName="ngModel" name="cardOwnerName"
      [(ngModel)]="service.formData.cardOwnerName" required>
  </div>
  <div class="mb-3">
    <label>Card Number</label>
    <!-- <input class="form-control form-control-lg" placeholder="16 Digit Card Number" #cardNumber="ngModel"
      name="cardNumber" [(ngModel)]="service.formData.cardNumber" required minlength="16" maxlength="16"> -->
      <input class="form-control form-control-lg" placeholder="16 Digit Card Number" #cardNumber="ngModel"
      name="cardNumber" [(ngModel)]="service.formData.cardNumber" maxlength="16">
  </div>

  <div class="row">
    <div class="mb-3 col-6">
      <label>Security Code</label>
      <input class="form-control form-control-lg" placeholder="CVV" type="password" #securityCode="ngModel"
        name="securityCode" [(ngModel)]="service.formData.securityCode" required minlength="3" maxlength="3">
    </div>
    <div class="mb-3 col-6">
      <label>Expiration Date</label>
      <input class="form-control form-control-lg" placeholder="MM/YY" #expirationDate="ngModel" name="expirationDate"
        [(ngModel)]="service.formData.expirationDate" required minlength="5" maxlength="5">
    </div>
  </div>
  <div class="d-grid">
    <button class="btn btn-lg btn-success" type="submit">
      Submit
    </button>
  </div>


  <!--https://stackoverflow.com/questions/46000950/angular-4-setting-selected-option-in-dropdown
    <div class="form-group">
    <label for="contactMethod">Contact method</label>
    <select 
        name="contactMethod" 
        id="contactMethod" 
        class="form-control"
        [(ngModel)]="contact.contactMethod">
        <option *ngFor="let method of contactMethods" [value]="method.id">{{ method.label }}</option>
    </select>
</div>
And in component you must get values from select:

contactMethods = [
    { id: 1, label: "Email" },
    { id: 2, label: "Phone" }
]
So, if you want select to have a default value selected (and proabbly you want that):

contact = {
    firstName: "CFR",
    comment: "No comment",
    subscribe: true,
    contactMethod: 2 // this id you'll send and get from backend
} -->





</form>